#userdata{
    float: right;
    margin: 0px 20px;
}
#username{
    color: green;
    font-size: 18px;
}
#logout {
    margin: 0 auto;
    display: block;
    padding:10px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius:5px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
}
#form{
    margin:4rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap:20px;
    text-align: center;
    width:30%;
    background-color: whitesmoke;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease-in-out;
    padding:10px 10px;
}
#submit {
    padding:10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius:5px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 30px;
}
#form input,select{
    padding:10px;
    border:none;
    border-radius:5px;
    margin:0;
    width:90%;
    font-size:18px;
}
label{
    font-size: 22px;
}
